html {
    -webkit-text-size-adjust: none;
}
.mainTXT{
    font-family: 'BanglaSangamMN';
}
.start{
    font-family: 'BanglaSangamMN';
}
.question{
    font-family: 'Courier';
}
.answer li{
    font-family: 'BanglaSangamMN';
}
.YouAre{
    font-family: 'Courier';
}
.person{
    font-family: 'Courier';
}
.downTxt{
    font-family: 'Courier';
}
.result{
    font-family: 'Courier';
}
.invite{
    font-family: 'Courier';
}
