@font-face{
    font-family: 'Face';
    src: url('../css/Face.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Belly';
    src: url('../css/Belly.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}
@import "normalize.css";

/*-------main-----*/

.main{
    height: 100vh;
    overflow: hidden;
    background: rgba(253,200,23,1);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(253,200,23,1)), color-stop(100%, rgba(199,8,19,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: radial-gradient(ellipse at center, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc817', endColorstr='#c70813', GradientType=1 );
}
.logoMain{
    width: 35vw;
    height: auto;
    position: absolute;
    top: 20px;
    left: 65px;
}

.candy{
    width: 20vw;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.iceCream{
    width: 20vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: -160px;
}
.mainContent{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.starsMain{
    top: 1px;
    width: 100vw;
    max-height: 100vh;
    height: auto;
    position: absolute;
}
.mainTXT{
    font-size: 40px;
    font-family: 'Belly';
    color: #ffffff;
    margin: 0;
}
.startBTN{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.dotter{
    position: absolute;
    width: 40vw;
    height: auto;
}
.bang{
    position: absolute;
    width: 40vw;
    height: auto;
}
.start{
    margin-top: 10px;
    position: relative;
    font-size: 65px;
    color: #ffffff;
    font-family: 'Belly';
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.start:hover{
    margin-top: 0;
    color: #c70813;
    font-size: 75px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*-----------TEST---------*/
.container{
    max-width: 1930px;
    margin: 0 auto;
}

.test{
    height: 100vh;
    overflow: hidden;
    background: rgba(253,200,23,1);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(253,200,23,1)), color-stop(100%, rgba(199,8,19,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    background: radial-gradient(ellipse at center, rgba(253,200,23,1) 0%, rgba(199,8,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc817', endColorstr='#c70813', GradientType=1 );
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35vw;
    height: auto;
}
.testContent{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.stars{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100vh;
}
.testMain{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.questionItems{
    /*margin-top: 150px;*/
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.talk{
    position: absolute;
    width: 70%;
    height: auto;
}
.screentonTest{
    position: absolute;
    width: 50%;
    height: auto;
}
.question {
    width: 40%;
    position: relative;
    font-size: 30px;
    font-family: 'Face';
    color: #000000;
}
.answer {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
    list-style-type: none;
}

.answer li {
    -webkit-text-stroke: 1px black;
    width: 40%;
    margin: 30px 0;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Belly';
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.answer li:hover{
    color: red;
    text-shadow: 3px 3px 3px black;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*--------FINAL--------*/


.FinalMain{
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
.upFinal{
    width: 35%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.downFinal{
    z-index: 10;
    height: 48vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.YouAre{
    -webkit-text-stroke: 1px white;
    font-size: 50px;
    font-family: 'Belly';
    color: #000000;
    position: relative;
    z-index: 2;
}
.personContent{
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.result-img {
    margin-top: 5px;
    position: absolute;
    width: 99%;
    height: auto;
}
.windowImg{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
}
.person{
    margin-top: 20px;
    position: relative;
    font-size: 50px;
    font-family: 'Belly';
    color: #ffffff;
    width: 100%;
    height: 50%;
}
.downTxt{
    -webkit-text-stroke: 1px black;
    width: 90%;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Face';
    color: #ffffff;
}
.result {
    -webkit-text-stroke: 1px white;
    width: 90%;
    font-family: 'Belly';
    font-size: 30px;
    color: #000000;
}

/*.reload-button {*/
/*    display: block;*/
/*    margin: 20px auto;*/
/*    background: #c0c0c0;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    padding: 10px 25px;*/
/*    min-width: 200px;*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*}*/
/*.reload-button:hover {*/
/*    background: #acacac;*/
/*}*/
.invite{
    margin-top: 20px;
    -webkit-text-stroke: 1px white;
    font-size: 30px;
    color: black;
    font-family: 'Belly';
}



/*---------ADAPTIVE-------*/


@media (max-width: 1640px) {
    .YouAre{
        font-size: 35px;
    }
    .person{
        font-size: 35px;
    }
    .upFinal{
        justify-content: flex-start;
        margin-top: 70px;
    }
}
@media (max-width: 1500px) {

    .mainTXT{
        z-index: 10;
    }
    .bang{
        width: 53vw;
    }
    .dotter{
        width: 53vw;
    }
}
@media (max-width: 1300px) {
    .talk{
        width: 80%;
    }
}
@media (max-width: 1024px) {

    .bang{
        width: 75vw;
    }
    .dotter{
        width: 75vw;
    }
    .talk{
        width: 90%;
    }
    .question{
        font-size: 27px;
    }
    .YouAre{
        font-size: 25px;
    }
    .person{
        font-size: 25px;
    }
    .result{
        font-size: 25px;
    }
    .downTxt{
        font-size: 25px;
    }
    .invite{
        font-size: 25px;
    }
    .result-img{
        margin-top: 3px;
    }
}
@media (max-width: 900px) {
    .question{
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .start{
        font-size: 45px;
    }
    .start:hover{
        font-size: 55px;
    }
    .answer li{
        font-size: 25px;
    }
    .upFinal{
        width: 70%;
    }
    .YouAre{
        font-size: 40px;
    }
    .person{
        font-size: 40px;
    }
    .result{
        font-size: 25px;
    }
    .result-img{
        margin-top: 2px;
    }
    .downTxt{
        font-size: 25px;
    }
    .invite{
        font-size: 25px;
    }
    .downFinal{
        justify-content: flex-start;
    }
}
@media (max-width: 675px) {
    .talk{
        width: 100%;
    }
    .question{
        font-size: 17px;
    }
    .screentonTest{
        width: 70%;
    }
}
@media (max-width: 500px) {
    .starsMain{
        display: none;
    }
    .mainTXT{
        height: 48vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
    }
    .start{
        height: 48vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
        margin-top: 5px;
    }
    .start:hover{
        margin-top: 0;
        font-size: 45px;
    }
    .bang{
        width: 100vw;
    }
    .dotter{
        width: 100vw;
    }
    .question{
        font-size: 15px;
        width: 55%;
    }
    .answer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .answer li{
        font-size: 20px;
        width: 100%;
        margin: 15px 0;
    }
    .stars{
        display: none;
    }
    .upFinal{
        width: 90%;
    }

}
@media (max-width: 425px) {
    .mainTXT{
        font-size: 30px;
    }
    .talk{
        width: 100%;
    }
    .result{
        font-size: 20px;
    }
    .downTxt{
        font-size: 20px;
    }
    .invite{
        font-size: 20px;
    }

}
@media (max-width: 375px) {
    .upFinal{
        margin-top: 40px;
    }
    .logoMain{
        display: none;
    }
    .question{
        font-size: 13px;
    }
    .YouAre{
        font-size: 30px;
    }
    .person{
        font-size: 30px;
    }
    .result{
        font-size: 15px;
    }
    .downTxt{
        font-size: 15px;
        margin-top: 15px;
    }
    .invite{
        font-size: 15px;
        margin-top: 15px;
    }

}


